<div class="header">
    <img routerLink="/" src="/assets/zpictures/medea_logo_black.png" alt="error"/>
     <div class="buttons">
         <a routerLinkActive="active" routerLink="/about">About</a>
         <a routerLinkActive="active" routerLink="/services">Services</a>
         <a routerLinkActive="active" routerLink="/camera">Camera</a>
         <a routerLinkActive="active" routerLink="/contact">Contact</a>
     </div>
     <div class="menu-btn"  (click)="humburgerclicked()" [ngClass]="{open: clicked}" >
        <div class="menu-btn__burger"></div>
      </div>
</div >

    
    <div class="phone_tab" *ngIf="clicked" [ngClass]="{open: clicked}">
        <div class="phone_buttons">
            <a routerLinkActive="active" routerLink="/about" (click)="humburgerclicked()">About</a>
            <a routerLinkActive="active" routerLink="/services" (click)="humburgerclicked()">Services</a>
            <a routerLinkActive="active" routerLink="/camera" (click)="humburgerclicked()">Camera</a>
            <a routerLinkActive="active" routerLink="/contact" (click)="humburgerclicked()">Contact</a>
        </div>
    </div>