<div class="BACKGROUND">  
    <div class="background_picture"> 
            <h1></h1>
    </div>
    <div class="pictures_medea">
        <article class="images_head">
            <div class="image"></div>
        </article>
        <article class="images_head">
            <div class="image"></div>
        </article >
        <article class="images_head">
            <div class="image"></div>
        </article>
        <article class="images_head">
            <div class="image"></div>
        </article>
        <article class="images_head">
            <div class="image"></div>
        </article>
    </div>
</div>
    